/* Center h1 section titles (for others: section h1, section h2, section h3,...) */
section h1 {
  text-align: center;            /* Horizontally center the text */
/*  justify-content: center;       /* Horizontally align the text in the center */
/*  height: 100vh;                 /* Full height of the slide */
/*  margin: 0;                     /* Remove any margins */
/*  margin-bottom: 20px;  /* Adds 20px of space after the title */
}

.small-text {
  font-size: 0.9em;
  /* Adjust the value to reduce the font size */
}

.smaller-text {
  font-size: 0.83em;
  /* Adjust the value to reduce the font size */
}

.very-small-text {
  font-size: 0.76em;
  /* Adjust the value to reduce the font size */
}

.tiny-text {
  font-size: 0.7em;
  /* Adjust the value to reduce the font size */
}

.so-tiny-text {
  font-size: 0.6em;
  /* Adjust the value to reduce the font size */
}

.center-content {
  text-align: center;
}

.reveal .output pre {
  max-height: 180px; /* Adjust to your preferred height */
  overflow-y: auto;
}